.box__catalog-title_custom {
	/* relevant styles */
	
	background: #fbb800 content-box;
	text-shadow: 0px 0px 4px #fbb800, 1px 1px 6px black;
    font-family: MullerHeavy,Arial,sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 14%;
    left: 13%;
    

}
.box__catalog-title_custom-9 {
	/* relevant styles */
	
	background: #fbb800 content-box;
	text-shadow: 0px 0px 4px #fbb800, 1px 1px 6px black;
    font-family: MullerHeavy,Arial,sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 5%;
    left: 13%;
    

}
.box__catalog-title-border {
	padding: 0.3em;
}